Package: liblouis-data-mh
Version: 2.4.1-3
Architecture: all
Depends: liblouis-data (>= 2.4.1)
Maintainer: Mesar Hameed <mesar.hameed@gmail.com>
Section: text
Priority: optional
Multi-Arch: foreign
Description: Braille translation library - personal data
 Additional personal tables.
